/* Default styles for HTML elements */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*styling skip links and referneced https://css-tricks.com/how-to-create-a-skip-to-content-link/ */

/*skip links list*/
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*making skip links be hidding and appear when tab is pressed*/
.skip-links a{
    background: #826cff;
    color: #f3f7ff;
    border: 1px solid white;
    height: 30px;
    left: 0%;
    margin-left: 7%;
    margin-top: 15%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    font-size: 15px;
    font-family: 'Caveat', cursive;
}

/*transformstion for skip-links*/
.skip-links a:focus {
    transform: translateY(0%);
}

/* Styles for logo */
.logo {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}

/* Styles for navbar font */
.navfont {
    font-family: 'Italiana', serif;
    font-size: 1.5rem;
}

/* Styles for footer */
footer {
    margin-top: 8%;
}

/*adds padding on foot and navbar so the text is not against the page*/
.padding-on-text {
    padding: 3.5%;
}

/* Styles for about section on homepage */
.about-sect a img {
    width: 75%;
    height: 75%;
    margin-top: 7%;
    margin-bottom: 5%;
    border: 3px solid #bf50f2;
}

.about-sect h1 {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 2rem;
    padding-top: 3.5%;
}

.about-sect p {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: orange;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 13%;
}

/* Styles for contact section on contact page */
.contact-sect h1 {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 2rem;
    padding-top: 7%;
    margin-left: 5%;
    text-align: left;
}

form {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

form label, form button {
    margin-top: 2.5%;
}

.contact-img {
    margin-top: 10%;
    width: 100%;
    height: 100%;
}

/* Styles for about page section */
.about-page-sect h1 {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 2rem;
    padding-top: 3.5%;
}

.about-page-sect img {
    width: 75%;
    height: 75%;
    margin-top: 7%;
    margin-bottom: 5%;
    border: 6px solid #ff80b3;
}

.aboutmebtn a {
    margin-top: 2%;
    background-color: #43d76a; /* Green */
    border: none;
    color: white;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;

}

/* Styles for my work page */
.mywork-sect {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 2rem;
    padding-top: 3.5%;
    text-align: center;
}

.work-img {
    width: 75%;
    height: 75%;
    margin-top: 7%;
    margin-bottom: 5%;
}





/*desktop version*/
@media screen and (min-width: 760px){
    /* Styles for logo */
.logo {
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}

/* Styles for navbar font */
.navfont {
    font-family: 'Italiana', serif;
    font-size: 1.5rem;
    display:inline-block;
    margin-left: 10%;
}

*skip links list*/
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*making skip links be hidding and appear when tab is pressed*/
.skip-links a{
    background: #826cff;
    color: #f3f7ff;
    border: 1px solid white;
    height: 40px;
    left: 0%;
    margin-left: 7%;
    margin-top: 16%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    font-size: 20px;
    font-family: 'Caveat', cursive;
}

/*transformstion for skip-links*/
.skip-links a:focus {
    transform: translateY(0%);
}

/* Styles for footer */
footer {
    margin-top: 8%;
    font-size: 1.1rem;
}

/*adds padding on foot and navbar so the text is not against the page*/
.padding-on-text {
    padding: 3.5%;
}

/* Styles for about section on homepage */
/*grid for the first half*/
.about-sect1 {
    display: grid;
        /*1 col, 1 row*/
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 50%;
        padding: 2% 7% 2% 7%;
        justify-content: center;
}

.about-sect1 a img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.about-sect1 h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.about-sect1 p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/*grid for the second half of the page*/

.about-sect2 {
    display: grid;
        /*1 col, 1 row*/
        grid-template-columns: 50% 50%;
        grid-template-rows: 50%;
        padding: 2% 7% 2% 7%;
        justify-content: center;
}

.about-sect2 a img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    margin-top: 20%;
    width: 150%;
    height: 300%;
}

.about-sect2 p {
    margin-top: 12%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.about-sect a img {
    width: 100%;
    height: 150%;
    border: 3px solid #bf50f2;
}

.about-sect h1 {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 2rem;
    padding-top: 3.5%;
}

.about-sect p {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: orange;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 13%;
    padding-top: 10%;
}

/* Styles for contact section on contact page */
.contact-sect h1 {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 2rem;
    padding-top: 7%;
    margin-left: 5%;
    text-align: left;
}

form {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

form label, form button {
    margin-top: 2.5%;
}

.contact-img {
    margin-top: 10%;
    width: 100%;
    height: 100%;
}

/* Styles for about page section */
.about-page-sect h1 {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 2rem;
    padding-top: 3.5%;
}

.about-page-sect img {
    width: 75%;
    height: 75%;
    margin-top: 7%;
    margin-bottom: 5%;
    border: 6px solid #ff80b3;
}

.aboutmebtn a {
    margin-top: 2%;
    background-color: #43d76a; /* Green */
    border: none;
    color: white;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;

}

/* Styles for my work page */
.mywork-sect {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 2.5rem;
    padding-top: 3.5%;
    text-align: center;
}

.work-img {
    width: 75%;
    height: 75%;
    margin-top: 7%;
    margin-bottom: 5%;
}

.work-container {
    display: grid;
        /*3 col, 4 row*/
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 2% 7% 2% 7%;
        justify-content: center;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box2 {
    width: 100%;
    height: 40%;
    margin-top: 25%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.box3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}



.box4 {
    width: 100%;
    height: 60%;
    margin-top: 10%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}



.box7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.box8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.box9 {
    width: 125%;
    height: 80%;
    margin-top: 10%;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.box10 {
    width: 150%;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

}